ion-nav-view(name="viewContent")

//- ion-side-menus(enable-menu-with-back-views="true")
//-   ion-side-menu-content(drag-content="true")
//-     ion-nav-view(name="viewContent" animation="slide-left-right")
//- 
//-   ion-side-menu(side="left")
//-     ion-header-bar.bar-positive(align-title="center")
//-       h1.title Menu
//-     ion-content.has-header
//-       .list
//-         a.item.item-icon-left(ui-sref-active="active" ui-sref="app.results")
//-           i.icon.ion-ios-paper.icon-24.positive
//-           span Results
