ion-header-bar.bar-positive(align-title="center")
  button.button.button-icon.icon(ng-click="showFilter()") Filter
  a.title Lubert POC

ion-content
  div(ng-if="state === 'list'")
    ion-list
      ion-item.item-divider ({{ artists.length }}) artist
      ion-item(ng-repeat="artist in artistsList") 
        b {{ $index + 1}}.&nbsp;
        i.icon.ion-male.male-color(ng-if=" artist.gender === 'M' ")
        i.icon.ion-female.female-color(ng-if=" artist.gender === 'F' ")
        span &nbsp;{{ artist.age }} years
        span &nbsp;{{ artist.rate }} rate
    
    ion-infinite-scroll(ng-if="!noMoreItemsAvailable" on-infinite="loadMore()")

.height-100.map-container(ng-show="state === 'map'")
  lt-map

.tabs.tabs-icon-top
  a.tab-item(ng-click="setState('list')")
    i.icon.ion-ios-list
    | List
  
  a.tab-item(ng-click="setState('map')")
    i.icon.ion-ios-location
    | Map
